@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* { 
  margin: 0; 
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

li, a{text-decoration: none;list-style-type: none;}
html {
  scroll-behavior: smooth;
}

/*header*/
#header{padding: 25px 0;background-color: #f5f5f5;border-bottom: 1px solid #9E43FF;}
#header .container{overflow: hidden;width: 95vw; margin: 0 auto;}
#header .logo{float: left;width: 325px;}
#header .logo a{display: block;}
#header .logo a img{width: 100%;}
#header .gnb{float: right;margin-top:26px}
#header .gnb li{float: left;margin-left:40px;}
#header .gnb li a{display:block;font-size: 22px;color:#333;}
#header .gnb li a:hover{color:#9E43FF;}

/*main*/
#main{background-color: #f5f5f5;}
#main .container{width:100%;margin:0 auto;padding:120px 0 172px 0;}
#main .title{width: 100%;text-align: center;font-size: 48px;color: #9E43FF;}
#main .visual{width:100%;margin-top: 124px; text-align: center;}
#main .visual img { width : 95%; }

/*btn_top*/
#btn_top{position: fixed;bottom:40px; right: 40px;cursor: pointer;}

/* weather */
#weather{width: 100px;padding:20px; height:36px;position: fixed;right:0;bottom:200px;background-color: #9E43FF;color:white;}
#weather ul{display: flex;gap:10px;}
#weather ul li {display: flex; align-items: center;}
#weather ul li img {width:24px;height:24px;}
