@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
#profile {
  --profile-main-color: #9e43ff;
  --profile-deep-color: #6417c9;
  --profile-bg-color: #e6d4ff;
  font-family: 'Noto Sans KR', sans-serif;
}
#profile > .personWrapper {
  display: inline-flex;
  text-align: left;
  padding: 100px 0;
  border-top: 1px #d9d9d9 solid;
}
#profile > .personWrapper:not(:last-child) {
  border-bottom: 1px #d9d9d9 solid;
}
#profile > .personWrapper > .avatar > .imgWrapper {
  background-color: var(--profile-bg-color);
  border-radius: 100%;
  width: 410px;
  height: 410px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#profile > .personWrapper > .avatar > .mbti {
  color: var(--profile-bg-color);
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
}
#profile > .personWrapper > .gap {
  width: 150px;
}
#profile > .personWrapper > .details > .catchPhrase {
  color: var(--profile-deep-color);
  font-size: 28px;
  font-weight: bold;
}
#profile > .personWrapper > .details > .nameContainer {
  display: inline-flex;
  align-items: baseline;
  gap: 10px;
}
#profile > .personWrapper > .details > .nameContainer > .name {
  font-size: 48px;
  font-weight: bold;
}
#profile > .personWrapper > .details > .nameContainer > .tags {
  padding-left: 15px;
}
#profile > .personWrapper > .details > .nameContainer > .tags > .tag {
  background: #333333;
  color: white;
  margin: 0 5px;
  box-sizing: border-box;
  padding: 10px 15px;
  min-width: 105px;
  min-height: 48px;
  border-radius: 24px;
  font-size: 18px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 7px;
}
#profile > .personWrapper > .details > .address {
  padding: 25px 0;
  font-size: 24px;
}
#profile > .personWrapper > .details > .address > a {
  color: black;
  text-decoration: none;
}
#profile > .personWrapper > .details > .address > a:hover {
  text-decoration: underline;
}
#profile > .personWrapper > .details > .content {
  width: 820px;
  padding: 45px;
  border: 1px var(--profile-main-color) solid;
  border-radius: 10px;
  box-sizing: border-box;
}
#profile > .personWrapper > .details > .content > .pros,
#profile > .personWrapper > .details > .content .workingStyle {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  align-items: center;
}
#profile > .personWrapper > .details > .content > .pros > div,
#profile > .personWrapper > .details > .content .workingStyle > div {
  min-height: 130px;
}
#profile > .personWrapper > .details > .content > .pros > .title,
#profile > .personWrapper > .details > .content .workingStyle > .title {
  color: var(--profile-main-color);
  font-size: 28px;
  font-weight: bold;
}
#profile > .personWrapper > .details > .content > .pros > .desc,
#profile > .personWrapper > .details > .content .workingStyle > .desc {
  font-size: 24px;
}
#profile > .personWrapper > .details > .content > .btnWrapper {
  height: 0px;
  text-align: right;
}
#profile > .personWrapper > .details > .content > .btnWrapper > button {
  position: relative;
  top: 15px;
  width: 256px;
  height: 60px;
  padding: 12px 32px;
  text-align: right;
  color: white;
  background-color: var(--profile-main-color);
  border: none;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}
#profile > .personWrapper > .details > .content > .btnWrapper > button:hover {
  background-color: var(--profile-deep-color);
} /*# sourceMappingURL=profile_even.css.map */
